*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  background: rgb(245, 248, 255);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles starts */
.dark{
  color: rgb(0, 0, 0);
}
.orangered{
  color: rgb(233, 90, 8);
}
/* shared styles ends */
.header{
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav-links{
  display: flex;
  gap: 48px;
}
.nav-link {
  list-style: none;
}
a{
  text-decoration: none;
}
.home{
  color: rgb(37, 36, 50);
  font-weight: 700;
  font-size: 24px;
}
.shop, .about{
  color: rgb(137, 135, 161);
  font-weight: 400;
  font-size: 24px;
}
.cart{
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 24px;
}

/* banner */
.banner{
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 20px;
  align-items:end;
  margin-top: 60px;
}
.banner-content{
  flex: 1;
}
.banner-title{
  font-size: 65px;
  font-weight: 700;
  font-family: 'Noto Serif', serif;
  color: rgb(0, 0, 0);
}
.banner-title-span{
  color: rgb(233, 90, 8);
}
.banner-desc{
  font-size: 24px;
  font: 400;
  color: rgb(0, 0, 0, 0.5);
  margin-top: 16px;
}
.banner-img{
  flex: 1;
  width: 100%;
  height: auto;
}

/* plants section */
.plants{
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 20px;
}
.plants-title{
  font-size: 50px;
  font-weight: 700;
  font-family: 'Noto Serif', serif;
  color: rgb(0, 0, 0);
  text-align: center;
}
.plant-span{
  color: rgb(233, 90, 8);
}
.plants-desc{
  font-size: 24px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 16px;
}
.plants-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 48px;
}
.plant-card-title{
  font-size: 24px;
  font-weight: 500;
  color: rgb(17, 17, 17);
  text-align: center;
  margin-top: 10px;
}
.plant-card-desc{
  font-size: 24px;
  font-weight: 700;
  color: rgb(17, 17, 17);
  text-align: center;
  margin-top: 10px;
}
.plant-card-btn{
  background: rgb(233, 90, 8);
  color: rgb(255, 255, 255);
  padding: 12px 50px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  border: none;
  width: 100%;
}


/* badge */
.badge{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-top: 120px;
}
.badge-content-title{
  font-size: 50px;
  font-weight: 700;
  font-family: 'Noto Serif', serif;
  color: rgb(0, 0, 0);
}
.badge-content-lists li{
  font-size: 24px;
  font-weight: 400;
  font-family: poppins, sans-serif;
  color: rgb(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-left: 30px;
}
.badge-img{
  position: relative;
}
.top-img{
  width: 284px;
  height: 284px;
  position: absolute;
  top: -120px;
  right: -100px;
}
/* .bg-img{
  background: linear-gradient(rgba(103, 171, 234, 0.24)
rgba(233, 90, 8, 0.6));
} */